################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hviewer.opensdf
/hviewer.sdf
/hviewer.v12.suo
